# Core functionality - changes here should be rare!
/src/app.py                   @Aditi-Singh-14
/src/backend/database.py      @Aditi-Singh-14
/src/backend/routers/auth.py  @Aditi-Singh-14

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Aditi-Singh-14
